.phHomePageHeader {
	background: url(../resource/image/HomePageBanner.jpg) center center;
	background-size: cover;
}

.phWhite {
	color: white;
}

/* Titles */

/* H1 */

.phTitle.sapMTitleStyleH1 {
	font-size: 2rem;
}

.phTitle.sapMTitleStyleH2 {
	font-size: 1.5rem;
}

@media (min-width: 500px) {
	.phTitle.sapMTitleStyleH1 {
		font-size: 3rem;
	}

	.phTitle.sapMTitleStyleH2 {
		font-size: 2rem;
	}
}

@media (min-width: 800px) {
	.phTitle.sapMTitleStyleH1 {
		/* color: white; */
		font-size: 4rem;
	}

	.phTitle.sapMTitleStyleH2 {
		font-size: 2.3rem;
	}
}

/* Button */

.sapMBtn.phActionButton {
	padding-top: 0;
	height: 2.375rem;
}

.sapMBtn.phActionButton .sapMBtnInner {
	padding-left: 0.875rem;
	padding-right: 0.875rem;
	height: 2.375rem;
}

.sapMBtn.phActionButton .sapMBtnInner.sapMBtnIconFirst {
	padding-left: 1rem;
}

.sapMBtn.phActionButton .sapMBtnContent,
.sapMBtn.phActionButton .sapMBtnIcon  {
	line-height: 2.375rem;
	font-size: 1.1rem;
}

@media (min-width: 800px) {

	.sapMBtn.phActionButton {
		padding-top: 0;
		height: 3.25rem;
	}

	.sapMBtn.phActionButton .sapMBtnInner {
		height: 3.250rem;
	}

	.sapMBtn.phActionButton .sapMBtnInner.sapMBtnIconFirst {
		padding-left: 0.5rem;
	}

	.sapMBtn.phActionButton .sapMBtnIcon {
		margin-left: 0.6rem;
		margin-right: 0.6rem;
	}

	.sapMBtn.phActionButton .sapMBtnContent,
	.sapMBtn.phActionButton .sapMBtnIcon {
		line-height: 3.25rem;
		font-size: 1.375rem;
	}
}

/* Contacts Illustration */
.phHiddenIllustrationTexts figcaption{
	display: none;
}

.phHiddenIllustrationTexts .sapMIllustratedMessageAdditionalContent {
	margin-bottom: 0 !important;
}