/* GAME CONTAINER */

.phMinesweeper {
	margin-left: auto;
	margin-right: auto;
	border-right: 3px solid #ebebeb;
	border-bottom: 3px solid #ebebeb;
	border-left: 3px solid #7c7c7c;
	border-top: 3px solid #7c7c7c;
}

.ph_dark .phMinesweeper {
	border-right: 3px solid #4e5e6c;
	border-bottom: 3px solid #4e5e6c;
	border-left: 3px solid black;
	border-top: 3px solid black;
}

/* CELL */

.phCell {
	font-weight: bold;
	font-size: 18px;
	height: 1.8rem;
	color: black;
	background-color: #d7d9db;
	border-left: 3px solid white;
	border-top: 3px solid white;
	border-right: 3px solid #7c7c7c;
	border-bottom: 3px solid #7c7c7c;
	padding: 0;
	cursor: pointer;
}

.ph_dark .phCell {
	background-color: #1d232a;
	border-left: 3px solid #4e5e6c;
	border-top: 3px solid #4e5e6c;
	border-right: 3px solid black;
	border-bottom: 3px solid black;
}

.phCell:disabled {
	border-bottom: 0;
	border-right: 0;
	border-top: 1px solid #7c7c7c;
	border-left: 1px solid #7c7c7c;
	cursor: default;
}

.ph_dark .phCell:disabled {
	background-color: black;
	border-top: 1px solid #4e5e6c;
	border-left: 1px solid #4e5e6c;
}

.phCell[data-gameFinished="istrue"], .phCell[data-cell="stateFlag"] {
	cursor: default;
}

.phCell:active:hover:enabled[data-gameFinished="isfalse"]:not([data-cell="stateFlag"]) {
	border-bottom: 0;
	border-right: 0;
	border-top: 1px solid #7c7c7c;
	border-left: 1px solid #7c7c7c;
}

.ph_dark .phCell:active:hover:enabled[data-gameFinished="isfalse"]:not([data-cell="stateFlag"]) {
	background-color: black;
	border-top: 1px solid #4e5e6c;
	border-left: 1px solid #4e5e6c;
}

.phCell .sapMBtnIcon {
	width: 100%;
	/* icon height for mobile */
	line-height: 1.5; 
}

.phCell span::before {
	color: black;
	padding-right: 0.5px;
}

.ph_dark .phCell span::before {
	color: lightgray;
}

.phCell[data-cell="stateBlue"] {
	color: blue;
}

.ph_dark .phCell[data-cell="stateBlue"] {
	color: #2db2fd;
}

.phCell[data-cell="stateGreen"] {
	color: green;
}

.ph_dark .phCell[data-cell="stateGreen"] {
	color: #00e053;
}

.phCell[data-cell="stateRed"] {
	color: red;
}

.phCell[data-cell="stateDarkBlue"] {
	color: darkblue;
}

.ph_dark .phCell[data-cell="stateDarkBlue"] {
	color: #6363fe;
}

.phCell[data-cell="stateBrown"] {
	color: brown;
}

.ph_dark .phCell[data-cell="stateBrown"] {
	color: #ff7338;
}

.phCell[data-cell="stateTurquoise"] {
	color: #30968c;
}

.ph_dark .phCell[data-cell="stateTurquoise"] {
	color: turquoise;
}

.phCell[data-cell="stateBlack"] {
	color: black;
}

.ph_dark .phCell[data-cell="stateBlack"] {
	color: grey;
}

.phCell[data-cell="stateWhite"] {
	color: white;
}

.phCell[data-cell="stateMine"] {
	background-color: red;
}

.ph_dark .phCell[data-cell="stateMine"] {
	background-color: #860303;
}

.phCell[data-cell="stateFlag"] span::before {
	color: red;
}

.phCell[data-cell="stateWrongFlag"] {
	background-color: #ff000063;
}

.phCell[data-cell="stateWrongFlag"] span::before {
	color: red;
}