/* COMMON */

.phLimitedPageContent {
	max-width: 750px;
	margin-left: auto;
	margin-right: auto;
}

.phAlignCenter {
	margin-left: auto;
	margin-right: auto;
}

.phButton .sapMImg {
	min-width: auto !important;
}

.phButton {
	max-width: 100%;
}
