/* COMMON */

.phLimitedPageContent {
	max-width: 750px;
	margin-left: auto;
	margin-right: auto;
}

.phTntPage {
	padding: 0 !important;
}
.phTntPage aside {
	margin-top: 0 !important;
}
.phTntPage .sapTntToolPageMain {
	margin-top: 0 !important;
}

.phAlignCenter {
	margin-left: auto;
	margin-right: auto;
}

.phButton .sapMImg {
	min-width: auto !important;
}

.phButton {
	max-width: 100%;
}

.phNoFocus:focus {
	outline: none;
}

.phCustomListItem {
	border: 0 !important;
	border-radius: 1rem;
}

iframe {
	border: none
}

@media (display-mode: standalone) {
	.phInstallButton {
		display: none;
	}
}
