
.phTicTacToeCell {
	border-radius: 0;
	border-right: 0.4rem solid #758ea5;
	border-bottom: 0.4rem solid #758ea5;
}

.ph_light .phTicTacToeCell {
	border-color: #a8b3bd;
}

.phTicTacToeCell[data-opened='isfalse'] .sapUiIcon {
	opacity: 0;
}

.phTicTacToeCell[data-cell='positionBottom'] {
	border-bottom: 0;
}

.phTicTacToeCell[data-cell='positionEnd'] {
	border-right: 0;
}

.phTicTacToeCell[data-cell='positionBottomEnd'] {
	border-bottom: 0;
	border-right: 0;
}

.phTicTacToeCell .sapFAvatar.sapMAvatarDisabled {
    opacity: 1;
}

.phTicTacToeCell[data-opened='istrue'] .sapUiIcon {
	transition: opacity 0.3s;
}

.phTicTacToeCell[data-win='isfalse'] .sapFAvatar {
	background-color: transparent;
}
